* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.all-page {
  margin: 20px;
}

.all-page ul {
  margin-bottom: 15px;
}

.all-page li {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: solid 1px #000;
}

.all-page li a {
  text-decoration: none;
}

.all-page li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.all-page li button {
  margin: 0 15px;
  background: #ca4949;
}

input {
  padding: 5px 10px;
  margin-top: 15px;
}

.form-group {
  display: inline;
}
